.form-title {
  height: 5rem;
  background-color: #dc143c;
  border-bottom: black;
  font-size: 2.5rem;
  color: white;
  width:100%;

  display: flex;
  justify-content: center;
}

.form-content {
  display: flex;
  flex-direction: column;
  font-size: 1.1rem;

  margin-bottom: 2rem;
}

.form-info-list{
  display: flex;
}

.form-info-name{
  background-color: orange;
  width:15%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-info-description{
  padding: 1%;
  background-color: grey;
  flex: 1;
  border-bottom: 1px solid white;
}

.form-info-title{
  color:white;
  margin: 0;
  padding: 0;
}
