.text-picture{
    display: flex;
    align-items: center;
    margin-left: 13rem;
    margin-bottom: 2rem;
}

.text-container{
    font-family: "Source Sans Pro", "Arial", sans-serif;
    color:white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.my-name {
    font-size: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.my-role {
    font-size: 2.5rem;
}

.self-picture{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-image: url("../pictures/me.jpeg");
    background-size: 100% auto;
    background-position: 50% 20%;

    position: relative;
    animation: slide-in 1.4s 1;
}

@keyframes slide-in {
    0%   {left: 300px; top: 0px;opacity: 0%;}
    50% { left: -30px; top: 0px;opacity: 70%;}
    100% { left: 0px; top: 0px;opacity: 100%;}
}

@media only screen and (max-width: 768px) {
    .text-picture{
        margin-left: 1rem;
        margin-bottom: 5rem;
    }
    
    .my-name {
        font-size: 4rem;
    }
    
    .my-role {
        font-size: 1.5rem;
    }
    
    .self-picture{
        display: none;
    }
}

@media only screen 
    and (max-device-width : 420px) 
    and (-webkit-device-pixel-ratio : 3) 
    and (orientation: portrait){ 
    
    .content-container{
        margin-top: 20%;
    }

    .text-picture{
        margin-left: 1rem;
        margin-bottom: 5rem;
    }
    
    .my-name {
        font-size: 8rem;
    }
    
    .my-role {
        font-size: 4rem;
    }

    .text-picture{
        flex-direction: column-reverse;
    }
    
    .self-picture{
        width: 300px;
        height: 300px;
        margin-bottom: 10%;
    }
}