body {
  background-color: #343a40;
}
.header {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.topic_container {
  border-bottom: 2px ridge black;
  padding-bottom: 1%;
}

.topic_header {
  text-align: center;
  color: white;
}

.topic_content {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.example_container {
  margin: 1% 1% 1% 1%;
  border: 3px dotted black;
  width: 300px;

  display: block;
}

.example_title_container {
  height: 140px;
  color: black;
  text-align: center;
  font-size: 1.1rem;
  margin: 0;
  padding: 1% 0 1% 0;
  background-color: #dc143c;
}
.keywords {
  color: white;
}
.main_container {
  display: flex;
  justify-content: center;
}

.basic_lab_topic_1 {
  width: 300px;
  border: 1px solid black;
  background-color: white;
  margin: 0;
}
.t1_1 {
  height: 50px;
}
.t1_2 {
  height: 5em;
}
.t1_3 {
  height: 5rem;
}
.t1_4 {
  height: 50%;
}
.t1_5 {
  height: auto;
}

.basic_lab_topic_2 {
  background-image: url(../../pictures/box-model.jpg);
  background-color: white;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;

  width: 300px;
  height: 300px;
  border: 3px solid black;

  margin: 1px 0 1px 0;
}

.basic_lab_topic_3 {
  background-image: url(../../pictures/15.jpg);
  background-color: white;
  background-repeat: no-repeat;

  width: 300px;
  height: 300px;
  border: 3px solid black;
  margin: 1% 0 1% 0;
}

.t3_1 {
  background-size: auto 100%;
  background-position: center;
}
.t3_2 {
  background-size: 100% auto;
  background-position: center;
}
.t3_3 {
  background-size: contain;
  background-position: center;
}
.t3_4 {
  background-size: cover;
  background-position: center;
}
.t3_5 {
  background-size: cover;
  background-position: top;
}
.t3_6 {
  background-size: cover;
  background-position: bottom;
}

.basic_lab_topic_4_5_6_7 {
  width: 300px;
  height: 300px;
  background-color: white;
  padding: 5px;
  /*以下这个设定很重要，容器相对，子件绝对  */
  position: relative;
}

.retangle {
  height: 80px;
  background-color: orange;
  border: 1px solid black;
}
.normal_model {
  width: 80px;
}
.long_model {
  width: 250px;
}

.float_left {
  float: left;
}
.float_right {
  float: right;
}
.border_block {
  border: 5px solid blue;
  background-color: grey;
}
.clear_both {
  clear: both;
}

.retangle_t5_model {
  text-align: center;
  width: 110px;
  height: 110px;
  background-color: orange;
  border: 1px solid black;
}
.t5_position {
  top: 50px;
  left: 100px;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.fixed {
  position: fixed;
}
.sticky {
  position: sticky;
}

.t6_content_text {
  background-color: #a9a9a9;
}
.t6_special_words {
  background-color: orange;
}
.display_none {
  display: none;
}
.display_inline {
  display: inline;
}
.display_block {
  display: block;
}
.display_inline_block {
  display: inline-block;
}

.image_example {
  height: 95%;
  border: 2px dotted blue;
  border-radius: 10%;

  display: block;
  margin-left: auto;
  margin-right: auto;
}

.img2 {
  border: 2px solid blue;
  padding: 10px;
}
.img4 {
  opacity: 0.5;
}
.text_center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 18px;
}

.overlay {
  position: absolute;
  top: 6px;
  bottom: 0;
  left: 42px;
  right: 0;
  height: 92%;
  width: 72%;
  opacity: 0;
  transition: 0.5s ease;
  background-color: #008cba;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.basic_lab_topic_4_5_6_7:hover .overlay {
  opacity: 1;
}
