body {
  background-color: #343a40;
}
.header {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.topic_container {
  border-bottom: 2px ridge black;
  padding-bottom: 1%;
}

.topic_header {
  text-align: center;
  color: white;
}

.topic_content {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.example_container {
  margin: 1% 1% 1% 1%;
  border: 3px dotted black;
  width: 45%;

  display: block;
}

.example_title_container {
  color: black;
  text-align: center;
  font-size: 1.1rem;
  margin: 0;
  padding: 1% 0 1% 0;
  background-color: #dc143c;

  display: block;
}

p {
  margin: 0;
}

.keywords {
  color: white;
}

.example_img {
  height: 80px;

  margin: 1% 1% 1% 1%;
}

.example_content_container {
  height: 300px;
  background-color: purple;
  padding: 1% 0 1% 0;
}

.t1_1 {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.t1_2 {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.t1_3 {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row-reverse;
}

.t1_4 {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column-reverse;
}

.t2_1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.t2_2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.t2_3 {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}

.t2_4 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.t2_5 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.t2_6 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.t3_1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.t3_i2 {
  height: 200px;
  width: 100px;
}

.t3_2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
}

.t3_3 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-end;
}

.t4_i3_1 {
  align-self: flex-start;
}

.t4_i3_2 {
  align-self: flex-end;
}

.t4_i3_3 {
  align-self: center;
}

.t4_i3_4 {
  order: -1;
}

.t4_i3_5 {
  order: 1;
}

.t5{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.t5_i4_1{
  flex-grow: 1;
}

