.header {
  color: blue;
}
body {
  background-color: grey;
}
.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}

.topic_container {
  border-bottom: 2px ridge black;
  padding-bottom: 1%;
}
.topic_header {
  text-align: center;
}

.topic_content {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.example_container {
  margin: 1% 1% 1% 1%;
  border: 3px dotted black;
  width: 500px;

  display: inline-block;
}

.example_title {
  text-align: center;
  font-size: 1.2rem;
  margin: 0;
  padding: 1% 0 1% 0;
  background-color: #dc143c;
  color: white;
}
.keywords {
  color: blue;
}
.main_container {
  display: flex;
  justify-content: center;
}

.example_main_1 {
  background-image: url(../../pictures/15.jpg);
  background-color: white;
  background-repeat: no-repeat;
  background-position: center;
  width: 300px;
  height: 300px;
  border: 3px solid blue;

  margin: 1% 0 1% 0;

  background-size: auto 100%;
}

.example_main_2 {
  background-image: url(../../pictures/15.jpg);
  background-color: white;
  background-repeat: no-repeat;
  background-position: center;
  width: 300px;
  height: 300px;
  border: 3px solid blue;

  margin: 1% 0 1% 0;

  background-size: 100% auto;
}

.example_main_3 {
  background-image: url(../../pictures/15.jpg);
  background-color: white;
  background-repeat: no-repeat;
  background-position: center;
  width: 300px;
  height: 300px;
  border: 3px solid blue;

  margin: 1% 0 1% 0;

  background-size: contain;
}

.example_main_4 {
  background-image: url(../../pictures/15.jpg);
  background-color: white;
  background-repeat: no-repeat;
  background-position: center;
  width: 300px;
  height: 300px;
  border: 3px solid blue;

  margin: 1% 0 1% 0;

  background-size: cover;
}

.example_main_5 {
  background-image: url(../../pictures/box-model.jpg);
  background-color: white;
  background-repeat: no-repeat;
  background-position: center;
  width: 300px;
  height: 300px;
  border: 3px solid blue;

  margin: 1% 0 1% 0;

  background-size: contain;
}
